.git
.github
.gitignore

.venv
venv

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

.coverage
htmlcov

.idea
.vscode

backups
backup
archive
archives

build
dist

node_modules

*.db
*.sqlite
*.sqlite3

.env
.env.*

logs
temp
tmp
